body {
  font-family: Montserrat;
  color: var(--main-text-color);
  background-color: #f5f5f7;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  background-color: #ffffff;
  -webkit-box-shadow: 5px 5px 50px 5px rgba(232, 218, 247, 0.8);
          box-shadow: 5px 5px 50px 5px rgba(232, 218, 247, 0.8);
}
.header .header-container {
  max-width: 1202px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 15px;
}

.header-top-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}
.header-top-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: rgba(124, 124, 255, 0.5);
}
.header-top-container .social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  margin: 0;
}

.social-media-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-media-list-item .language {
  margin-right: 4px;
  color: #060048;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.33;
  text-transform: uppercase;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 38px;
  padding-top: 13px;
}

.nav-list-item a {
  color: #060048;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-list-item a .polygon-icon {
  margin-bottom: 1px;
}

.header-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner {
  height: 715px;
  margin-bottom: 120px;
  background-image: url(../../img/bg.png);
  background-repeat: no-repeat;
  background-position: 20.5% 0;
  background-size: 715px 710px;
  margin-top: 124px;
}
.banner .banner-container {
  max-width: 1202px;
  margin-right: auto;
  margin-left: auto;
}

.banner-right-side {
  max-width: 488px;
  margin-left: 612px;
  padding-top: 51px;
}

.banner-title {
  margin-bottom: 40px;
  color: rgba(6, 0, 72, 0.9);
  font-size: 70px;
  font-weight: 700;
  line-height: 0.91;
  text-transform: uppercase;
}

.banner-description {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5;
}
.banner-description :first-child {
  margin-bottom: 20px;
}

.banner-button {
  padding: 12px 86px;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.26;
  background-color: #440090;
  border: none;
  border-radius: 10px;
}

.clients {
  color: rgba(0, 0, 0, 0.7);
  padding: 60px 16px;
}
@media screen and (min-width: 1280px) {
  .clients {
    padding: 160px 16px 146px 16px;
  }
}

.clients-title {
  margin-bottom: 30px;
  font-family: Inter;
  font-size: 30px;
  font-weight: 900;
  line-height: 120%;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .clients-title {
    margin-bottom: 60px;
    font-size: 40px;
  }
}

.our-clients {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media screen and (min-width: 782px) {
  .our-clients {
    gap: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .our-clients {
    gap: 60px;
  }
}

.client {
  max-width: 150px;
}
@media screen and (max-width: 632px) {
  .client:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 632px) {
  .client:not(:nth-last-child(-n+4)) {
    margin-bottom: 30px;
  }
}
.client .client-name {
  font-size: 16px;
  line-height: 150%;
}
.client .client-icon {
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.client .client-icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 40px;
  background-color: #fff;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.menu-container.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  stroke: #e0ff00;
  font-size: 0;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: inherit;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.menu-icon:hover {
  stroke: #ebf216;
}
.menu-icon:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}

.mobile-menu-page {
  text-align: center;
}
.mobile-menu-page:not(:last-child) {
  margin-bottom: 20px;
}

.menu-link {
  display: block;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link .polygon-icon {
  margin-bottom: 2px;
}
.menu-link:hover {
  color: #e0ff00;
  fill: #e0ff00;
}
.menu-link:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.mobile-menu-contacts {
  text-align: center;
}
.mobile-menu-contacts .mobile-menu-tel {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
  color: #e0ff00;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-contacts .mobile-menu-tel:hover {
  color: #ebf216;
}
.mobile-menu-contacts .mobile-menu-tel:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.mobile-menu-contacts .mobile-menu-mail {
  display: block;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-contacts .mobile-menu-mail:hover {
  color: #e0ff00;
}
.mobile-menu-contacts .mobile-menu-mail:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.products {
  margin-bottom: 140px;
}
.products .products-container {
  max-width: 1202px;
  margin-right: auto;
  margin-left: auto;
  padding: 60px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.products-title {
  margin-bottom: 30px;
  color: #060048;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.28;
  text-transform: uppercase;
}

.products-text {
  margin-bottom: 50px;
  max-width: 488px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
}

.products-list-item {
  width: 530px;
  padding: 40px 22px 22px;
  border-radius: 15px;
  background-color: #f5f5f7;
}

.item-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.feature-name {
  margin-left: 46px;
  color: #060048;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.13;
}

.feature-description {
  font-size: 16px;
  line-height: 1.62;
}

.summary .summary-container {
  max-width: 1202px;
  margin-right: auto;
  margin-left: auto;
}

.summary-title {
  margin-bottom: 40px;
  color: #060048;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.28;
  text-transform: uppercase;
}

.summary-item-title {
  margin-bottom: 30px;
  color: #000;
  font-family: Verdana;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.33;
}

.summary-description {
  max-width: 794px;
  margin-bottom: 50px;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.accent-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.paws {
  display: inline-block;
  margin-top: 6px;
  margin-right: 6px;
  color: #060048;
  font-family: Verdana;
  font-size: 100px;
  line-height: 0.8;
}

.accent-text {
  display: inline-block;
  max-width: 738px;
  margin-bottom: 30px;
  color: #060048;
  font-family: "Verdana Pro Cond";
  font-size: 22px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.54;
}

.post-accent-text {
  max-width: 738px;
  margin-bottom: 50px;
  margin-left: 52px;
  color: #000;
  font-family: "Verdana Pro Cond";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66;
}

.business {
  margin-bottom: 186px;
}

.business-container {
  max-width: 1202px;
  margin-right: auto;
  margin-left: auto;
}

.business-title {
  max-width: 412px;
  margin-bottom: 30px;
  color: #060048;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.28;
  text-transform: uppercase;
}

.business-description {
  max-width: 488px;
  margin-bottom: 70px;
  font-size: 20px;
  line-height: 1.5;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px;
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}

.wrapper i:active {
  -webkit-transform: translateY(-50%) scale(0.85);
          transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 12px);
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  gap: 22px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  -ms-scroll-snap-type: none;
      scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.carousel :where(.card, .img) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  scroll-snap-align: start;
  cursor: pointer;
  width: 488px;
  padding: 25px 22px 22px;
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.04);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.04);
}

.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 55px;
  margin-bottom: 20px;
}

.item-description {
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  line-height: 1.5;
}

.author {
  margin-bottom: 2px;
  color: #060048;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.63;
}

.company-name {
  color: #060048;
  font-size: 20px;
  line-height: 1.8;
}

.footer {
  background-color: #e8e5f4;
  padding: 62px 0 30px;
}

.footer-container {
  max-width: 1202px;
  margin-left: auto;
  margin-right: auto;
}

.top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.left-side .logo {
  margin-bottom: 80px;
}
.left-side h4 {
  margin-bottom: 20px;
  color: #060048;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  text-transform: uppercase;
}
.left-side .email {
  color: #060048;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin-bottom: 50px;
}

.right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #060048;
}
.right-side h4 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}
.right-side li:not(:last-child) {
  margin-bottom: 10px;
}
.right-side a {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-nav-list {
  margin-top: 42px;
}
.footer-nav-list:first-child {
  margin-left: 296px;
  margin-right: 140px;
}
.footer-nav-list:nth-child(2) {
  margin-right: 60px;
}

.partners {
  position: relative;
  margin-bottom: 40px;
}
.partners::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: rgba(124, 124, 255, 0.5);
}
.partners::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: rgba(124, 124, 255, 0.5);
}
.partners ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0;
}

.bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(6, 0, 72, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}
.bottom-footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bottom-footer .adult-icon {
  margin-right: 20px;
}

.questions {
  margin-bottom: 120px;
}
.questions-container {
  max-width: 1202px;
  margin-left: auto;
  margin-right: auto;
}

.questions-title {
  margin-bottom: 30px;
  max-width: 690px;
  color: #060048;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 25px 20px 15px;
  border-radius: 15px;
  color: #060048;
  cursor: pointer;
}
.question-container.active {
  color: #ffffff;
  background-color: #440090;
}
.question-container svg:last-child {
  display: none;
}

.item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.answer {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.answer p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  line-height: 1.5;
}
.answer p:first-child {
  margin-top: 50px;
  margin-bottom: 30px;
}
.answer p:last-child {
  margin-bottom: 30px;
}

.question-container.active + .answer {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
  overflow: auto;
}/*# sourceMappingURL=main.css.map */