.header {
  background-color: $white-main-color;
  box-shadow: 5px 5px 50px 5px rgba(232, 218, 247, 0.8);

  .header-container {
    max-width: 1202px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

.header-top-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(124, 124, 255, 0.5);
  }
  .social-media-list {
    display: flex;
    gap: 25px;
    margin: 0;
  }
}
.social-media-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  .language {
    margin-right: 4px;
    color: $accent-text-color;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.33;
    text-transform: uppercase;
  }
}

//.line {
//  margin-top: 20px;
//  margin-bottom: 13px;
//  height: 1px;
//  width: 100%;
//  background-color: rgba(124, 124, 255, 0.5);
//}
.nav-list {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: end;
  gap: 38px;
  padding-top: 13px;
  //@media screen and (max-width: 925px) {
  //  position: absolute;
  //  width: 1px;
  //  height: 1px;
  //  margin: -1px;
  //  border: 0;
  //  padding: 0;
  //  clip: rect(0 0 0 0);
  //  overflow: hidden;
  //}
}
.nav-list-item {
  a {
    color: $accent-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    text-transform: uppercase;
    text-decoration: none;
    .polygon-icon {
      margin-bottom: 1px;
    }
    //&:hover {
    //  background-color: $accent-color;
    //}
    //&:active {
    //  transform: scale(0.9);
    //}
  }
}
.header-right-side {
  display: flex;
  align-items: center;
}
