.products {
  margin-bottom: 140px;
  .products-container {
    max-width: 1202px;
    margin-right: auto;
    margin-left: auto;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.08);
    background-color: $white-main-color;
  }
}

.products-title {
  margin-bottom: 30px;

  color: $accent-text-color;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.28;
  text-transform: uppercase;
}
.products-text {
  margin-bottom: 50px;
  max-width: 488px;

  color: $main-text-color;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 22px;
}
.products-list-item {
  width: 530px;
  padding: 40px 22px 22px;
  border-radius: 15px;
  background-color: $bg-color;
  cursor: pointer;
  &:hover {
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
    transform: scaleY(1.01);
  }
  &:focus {
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  }
}
.item-top-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.feature-name {
  margin-left: 46px;

  color: $accent-text-color;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.13;
}
.feature-description {
  font-size: 16px;
  line-height: 1.62;
}
