$main-text-color: rgba(0, 0, 0, 0.7);
$accent-text-color: #060048;
$black-color: #000;
$button-color: #440090;
$white-main-color: #ffffff;
$hover-color: #7c7cff;
$button-hover-color: rgba(68, 0, 144, 0.8);
$bg-color: #f5f5f7;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
